/* body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 20px;
    color: #ddd;
}

label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #00c6ff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
}

button:hover {
    background: #0072ff;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: rgba(0, 255, 255, 0.2);
    border-radius: 8px;
    text-align: center;
}


select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: none;
    outline: none;
} */


body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
    padding: 30px;
    background: #1e293b;
    border-radius: 10px;
    margin-top: 40px;
}

h1 {
    color: cyan;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    font-weight: bold;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 12px;
    background: cyan;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: white;
    color: black;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: #334155;
    border-radius: 10px;
}

canvas {
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    padding: 10px;
}
